.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.menuIconos{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: gray;
}
a{
    text-decoration: none;
}
.menuIdentificador{
    color: blue;
}
.baner{
    width: 100%;
    height: 100px;    
    background-image: url("../assets/images/coming-soon-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.parrafo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
}
.cubos{
    margin-top: 50px;
    text-align: center;
}
.moto{
    margin-top: -150px;
}
.botonMoto{
    margin-top: 50px;
    color: blue;
    border: 1px solid blue;
    background-color: transparent;
}
.gotas{
    width: 100%;
    height: 100px;
}
.cohete{
    width: 100%;
    height: 500px;
    background-image: url("../assets/images/home/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.testimoniales{
    padding: 20px;
    margin: 20px 0px 100px 50px;
}
.formulario{
    width: 100%;
    margin: 10px 0;
}
textarea{
    width: 100%;
    height: 125px;
}