doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="css/style.css")
        title Proyecto Final
    body.container
        nav.row.menu
            div.col-xs-5.col-xs-offset-7
                ul.menuIconos.col-xs-offset-4
                    li
                        a.menuIconos.col-xs-2.fa.fa-facebook(href="#")
                    li
                        a.menuIconos.col-xs-2.fa.fa-twitter(href="#")
                    li
                        a.menuIconos.col-xs-2.fa.fa-google-plus(href="#")
                    li
                        a.menuIconos.col-xs-2.fa.fa-futbol-o(href="#")
                    li
                        a.menuIconos.col-xs-2.fa.fa-linkedin(href="#")
            div.col-xs-2
                img(src="assets/images/logo.png")
            div.col-xs-10
                ul.menu
                    li.col-xs-1.col-xs-offset-4 HOME
                    li.col-xs-1.menuIdentificador PAGES
                    li.col-xs-1 BLOG
                    li.col-xs-2 PORTFOLIO
                    li.col-xs-2 SHORTCODES
                    li.col-xs-1.menuIdentificador 
                        span(class="glyphicon glyphicon-search" aria-hidden="true")
        section.row
            div.baner
                h2 Princing Table
                p Configure your princing table
        
        
        
        
        
        
        section.row
            div
                img.gotas(src="assets/images/home/under.png")
        section.row
            div.cohete
                div.col-xs-5
                    h2.row Testimonial
                    mixin testimonios(imagen, testimonio)
                        .col-xs-offset-2.testimoniales
                            img.col-xs-4.img-responsive(src="assets/images/home/#{imagen}")
                            p.col-xs-8 #{testimonio}
                    +testimonios("profile1.png", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit quidem laboriosam veritatis quae unde molestiae facilis eligendi eius")
                    +testimonios("profile2.png", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit odit quidem laboriosam veritatis quae unde molestiae facilis eligendi eius")
                div.col-xs-2
                    h2 Contacts
                    p E-mail: email@email.com
                    p Phone: +1(123)4567890
                    p Fax: +1(123)4567890
                    h2 Address
                    p Lorem ipsum dolor sit amet
                    p Lorem ipsum dolor
                    p Lorem ipsum dolor
                div.col-xs-5
                    h2 Send a message
                    input.formulario(placeholder="Name")
                    input.formulario(placeholder="Email Id")
                    textarea.formulario(placeholder="Your text here")
                    button.btn-info.formulario SUBMIT
                
        script(id="entry-template" src="js/compiled.js" type="text/x-  handlebars-template")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js" type="text/x-handlebars-template")
        script(src="https://use.fontawesome.com/a2f6b316cb.js")